/* @media screen and (max-width: 1060px) and (min-width:900px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 899px) and (min-width:768px) {
  .flex-row>div {
    min-width: 150px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

.hearderset {
  box-sizing: border-box;
  color: #fff;
  padding: 100px;
}

.hearderset h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  color: #fff;
  margin-bottom: 15px;
}

.hearderset p {
  padding-bottom: 7%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}


@media(min-width:992px) {
  .bgimg {
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 60%;
  }



  .hearderset p {
    padding-bottom: 7%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
}

@media(min-width:768px) and (max-width:991px) {
  .bgimg {
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
  }

  .hearderset p {
    padding-bottom: 7%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

}

@media(min-width:575px)and (max-width:767px) {
  .bgimg {
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
  }

  .hearderset p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
}

@media(min-width:480px)and (max-width:574px) {
  .bgimg {
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
  }

  .hearderset h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    color: #fff;
    margin-bottom: 15px;
  }

  .hearderset p {
    font-weight: 500;
    font-size: 10px;
    line-height: 30px;
  }
}

@media(min-width:479px) {
  .bgimg {
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
  }

  .hearderset h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .hearderset p {
font-weight: 400;
font-size: 15px;
line-height: 25px;
}
}

@media(max-width:479px) {
  .bgimg {
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 40%;
  }

  .hearderset h1 {
    font-size: 32px;
    font-weight: bold;
  }

  .hearderset p {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
  }
}
*/

/* Banner Css Start */
.banner-img {
  height: 400px;
  background: url("https://c4.wallpaperflare.com/wallpaper/126/860/932/green-plants-saturated-vibrant-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.banner-text h2 {
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  color: #fff;
  margin-bottom: 15px;
}

.banner-text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .banner-text h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .banner-text h2 {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 10px;
  }

  .banner-text p {
    font-size: 18px;
    line-height: 25px;
  }
}

/* Banner Css End */

/* :: 19.0 Blog Area CSS */
.single-blog-post {
  position: relative;
  z-index: 1;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: hidden;
  height: 400px;
  max-width: 350px;
}

.single-blog-post .post-thumbnail {
  position: relative;
  z-index: 1;
}

.single-blog-post .post-content .post-title h5 {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  line-height: 1.5;
  margin-bottom: 15px;
  height: 30px;
  overflow: hidden;
}

.single-blog-post .post-content .post-title h5:hover {
  color: #70c745;
}

.single-blog-post .post-content .post-meta {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.single-blog-post .post-content .post-meta a {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 14px;
  color: #b7b7b7;
  margin-right: 30px;
}

.single-blog-post .post-content .post-meta a:last-child::after {
  content: '/';
  top: 0;
  left: -20px;
  position: absolute;
  z-index: 1;
}

.single-blog-post .post-content .post-meta a i {
  margin-right: 5px;
  color: #70c745;
}

.single-blog-post .post-content .post-meta a:hover {
  color: #70c745;
}

.single-blog-post .post-content .post-excerpt {
  font-size: 16px;
  color: #707070;
  margin-bottom: 0;
}

.single-blog-post:hover .post-content .post-title h5 {
  color: #70c745;
}

.pagination {
  position: relative;
  z-index: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination .page-item .page-link {
  color: #707070;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 44px;
  padding: 0;
  margin: 0 10px;
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  border-color: #70c745;
  background-color: #70c745;
  color: #ffffff;
}

.shop-products-area .pagination {
  position: relative;
  z-index: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.shop-products-area .pagination .page-item .page-link {
  color: #707070;
  width: 46px;
  height: 46px;
  border-radius: 0;
  text-align: center;
  border: 1px solid #ebebeb;
  font-size: 18px;
  line-height: 44px;
  padding: 0;
  margin: 0 10px;
  background-color: #f5f5f5;
}

.shop-products-area .pagination .page-item .page-link:hover,
.shop-products-area .pagination .page-item .page-link:focus {
  border-color: #70c745;
  background-color: #70c745;
  color: #ffffff;
}

/* Blog CSS End   */
