<div class="container-fluid about-banner ">
  <div class="row">
    <div class="col-md-12 "
      style="background-image: url(../../../assets/images/Group342.png); height: 500px; width: 100%; background-repeat: no-repeat; background-size: cover;">
    </div>
  </div>
  <div class="row ">
    <div class="col-12 justify-content-center text-center mt-5">
      <h2><b>
          ABOUT US </b></h2>
      <br>
      <p style="font-weight: 600;">
        We are leading in the plants service fields. We believe that every space can be made more beautiful with plants!
        <br> Come, join us in our vision to make all spaces green and healthy!
      </p>
    </div>
  </div>
  <div class="row about-cards  padding-md">
    <div class="container ">
      <div class="row about-cards ">
        <div class="col-md-6 box mb-2">
          <div class="content text-center">
            <img src="../../../assets/images/b1.png" class="m-3">
            <h4 class="mt-2"><b> Quality Product
              </b>
              .</h4>
            <p class="mt-2"> <b>
                We test all the quality checks of the product before delivering it to you </b>
            </p>
            <br>
          </div>
        </div>
        <div class="col-md-6 box mb-2">
          <div class="content text-center">
            <img src="../../../assets/images/b2.png" class="m-3">
            <h4 class="mt-2"><b> Perfect Service
              </b>
              .</h4>
            <p class="mt-2"> <b>
                We are committed to fulfil all your gardening needs with our quality services.</b>
            </p>
            <br>
          </div>
        </div>
        <div class="col-md-6 box mb-2">
          <div class="content text-center">
            <img src="../../../assets/images/b3.png" class="m-3">
            <h4 class="mt-2"><b> 100% Natural
              </b>
              .</h4>
            <p class="mt-2"> <b>
                Our roots are digital, our passion is contagious and most importantly, <br> ur people are creative,
                inspiring.</b>
            </p>
            <br>
          </div>
        </div>
        <div class="col-md-6 box mb-2">
          <div class="content text-center">
            <img class="mt-3" src="../../../assets/images/b4.png">

            <h4 class="mt-2"><b> Environmentally </b></h4>
            <p class="mt-2">
              <b>
                Our roots are digital, our passion is contagious and most importantly, <br> ur people are creative,
                inspiring. </b>
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
