<div class="hero-image  mb-5">
    <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{category.categoryImage}}); height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;"></div>
    <hr>
    <div class="hero-text">
        <h1 style="font-size:50px">{{category.categoryName | uppercase }}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Single Product Area -->
        <div *ngFor="let product of productList | paginate: { itemsPerPage: 8, currentPage: page}" class="col-12 col-sm-6 col-lg-3">
            <div class="single-product-area mb-50 wow fadeInUp mt-5" data-wow-delay="100ms">
                <!-- Product Image -->
                <div class="product-img">
                    <a style="cursor: pointer;" (click)="viewProduct(product._id)"><img class="product-image" src="{{product.productImage}}" alt=""></a>
                    <!-- Product Tag -->
                    <!-- <div class="product-tag">
                                  <a href="#">Hot</a>
                              </div> -->
                    <div class="product-meta d-flex">

                        <a style="cursor: pointer;" (click)="addToFav(product._id)" class="wishlist-btn"><img style="width: 20px; height:20px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATpJREFUSEvFleFRwzAMhb9OQEeACYAJChuwAXQCGIVOUNiADYANYAIYASYo93JSTnWd2PFdiv+ksaL39J5kd8HMazEzPv9GcAPcAhem8BvYAC/2rvg9cGrvH8BziPfGpAqWwBYQQG692ebVQFwFrIEfj6cEquQc+AUegAj4CJxYosf1vZaUelx7lzmCO6teyZLeV2EfS10kzMVlpYqQiiflRQVKXsVgw4R5ke9AZ2Mk2BngGaBKWpaUf1lih31Ugtktcv/UPNmUNrFkmYZA9uiZbbIAfEz1vJ5AItBXG9fPcEAPrgofRZ2FWpIUXNMzeNCkYgrJKHg6RdHjGpIi+BhBSUkVeIlgiET7saF7nqejVvN/kNrll5umZRS8RoEXFEm0VwU+hSDapd/FynPXdemkNsVretAEfDQFf3ZDVxl/VBnpAAAAAElFTkSuQmCC"
                            /></a>
                        <a style="cursor: pointer;" (click)="viewProduct(product._id)" class="add-to-cart-btn">About</a>
                        <a style="cursor: pointer;" (click)="addToCart(product._id)" class="compare-btn"><img style="width: 20px; height:20px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQ9JREFUSEvNlM0RAUEQhb+NgBCIABkQARngygEZEAEXrogAGRABIkAEiIBqtbO1Zn9myhplrt37vnnzutfD8fEc6/NTwMN3cwMWwOAb7sIOFEDp1oBtVkjcE/WBMbABGi4AeeDqCxeBcxZIUsiSQTOD8AGoyPdJgDKwzwC4AIU0gNTkFqUEiLqYPhiqfQQMTYAWMP8QEGRnWjTZiVwMJM3BDqiqb0yACdALAST8tgbUnUpd+l7HBJCgTppgGKKL3/1wxbkVQJrWQD0GIk+hZ7QEBBockwNplG1eWY5s5PdiAzCNrGIfAdmft2MLsDQQbbMFTIEOMAO6mkxazThFSiu8sfql0mrWAOcOnGfwv4AnHowxGW0UtfQAAAAASUVORK5CYII="
                            /></a>
                    </div>
                </div>
                <!-- Product Info -->
                <div class="product-info mt-2 text-center">
                    <a style="cursor: pointer;" (click)="viewProduct(product._id)">
                        <p style="">{{product.productName | uppercase}}</p>
                    </a>
                    <h6>Rs. {{product.productPrice}}.00</h6>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="(productList.length > 0)" class="row mt-5">
        <div class="col col-lg-4 col-md-2"></div>
        <div class="col col-lg-4 col-md-8 col-sm-12">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        <div class="col col-lg-4 col-md-2"></div>
    </div>
</div>


<ngx-spinner bdColor="white" template="<img src='https://gardendevices.com/wp-content/uploads/2020/09/garden-loader.gif' />">
    <!-- <p style="font-size: 20px; color: green;margin-top: 100;text-align: center;">Lodding...</p> -->
</ngx-spinner>
<!-- template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />" -->
<!-- bdColor="rgba(0, 0, 0, 1)" -->
