* {
    box-sizing: border-box;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Knewave', bold;
    font-weight: 8000;
}

label {
    width: 100%;
    max-width: 450px;
}

input {
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    color: #111;
    font-size: 15px;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    height: 58px;
    // transform: skew(-3deg, 1deg);
    font-family: 'Knewave', bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    &:focus,
    &:valid {
        outline: none;
        ~ul li {
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    &::before {
                        filter: blur(20px);
                        transform: translate(0, -35px) rotate(-210deg);
                    }
                    &::after {
                        filter: blur(0);
                        transform: scale(1) rotate(0);
                    }
                }
            }
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    &::after {
                        transition-delay: 200ms + ($i * 200ms);
                    }
                }
            }
        }
    }
}

label {
    position: relative;
}

ul {
    position: absolute;
    top: 38px;
    left: -4px;
    margin: 0;
    list-style: none;
    padding-left: 22px;
    position: absolute;
    display: flex;
    pointer-events: none;
    transition: 200ms;
    li {
        letter-spacing: 3px;
        text-transform: uppercase;
        color: transparent;
        pointer-events: none;
        transition: 500ms ease-in-out;
         ::selection {
            color: transparent;
        }
        &::after,
        &::before {
            color: black;
            position: absolute;
            transition: 500ms ease-in-out;
        }
        &::before {
            top: -20px;
        }
        &::after {
            top: -63px;
            transform: scale(0) rotate(210deg);
            filter: blur(20px);
        }
        $chars: s,
        e,
        a,
        r,
        c,
        h;
        @each $char in $chars {
            $i: index($chars, $char);
            $x: index($chars, $char);
            $i: $i * 200;
            $y: $x * 12;
            &[#{$char}]::before {
                content: attr($char) quote($char);
                transition-delay: $i+ms;
            }
            &[#{$char}]::after {
                content: attr($char) quote($char);
                left: unquote($y+'px');
                color: #666;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    label {
        width: 100%;
        max-width: 350px;
    }
}

// ====================Product Css

/* :: 7.0 New Arrivals Products Area */

.single-product-area {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-product-area .product-img {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-product-area .product-img a {
    display: block;
}

.single-product-area .product-img img {
    position: relative;
    z-index: 1;
    width: 100%;
}


/*
.classs {
    box-shadow: 0 0 10px gray;
} */

.single-product-area .product-img .product-tag a {
    background-color: #429edf;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.single-product-area .product-img .product-tag.sale-tag a {
    background-color: #e61d47;
}

.single-product-area .product-img .product-meta {
    position: absolute;
    bottom: 30px;
    left: 15px;
    right: 15px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-product-area .product-img .product-meta a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    background-color: #303030;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.single-product-area .product-img .product-meta a:hover,
.single-product-area .product-img .product-meta a:focus {
    background-color: #70c745;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-product-area .product-img .product-meta a {
        font-size: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-product-area .product-img .product-meta a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 767px) {
    .single-product-area .product-img .product-meta a {
        font-size: 14px;
    }
}

.single-product-area .product-img .product-meta .add-to-cart-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 100px);
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
    width: calc(100% - 100px);
    border-left: 1px solid rgba(235, 235, 235, 0.5);
    border-right: 1px solid rgba(235, 235, 235, 0.5);
}

.single-product-area .product-info a p {
    margin-bottom: 0;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.single-product-area .product-info a p:hover,
.single-product-area .product-info a p:focus {
    color: #70c745;
}

.single-product-area .product-info h6 {
    margin-bottom: 0;
    font-size: 18px;
}

.single-product-area:hover .product-img {
    box-shadow: 0 5px 30px 0 rgba(113, 226, 7, 0.15);
}

.single-product-area:hover .product-img .product-meta {
    visibility: visible;
    opacity: 1;
}
