<div class="contain">
  <div class="row">
    <div class="col col-12 search">
      <label class="mt-5 mb-5">
        <input class="input1" (keypress)="searchTheProduct()" (keyup)="searchTheProduct()" [(ngModel)]="searchText"
          type="text" required>
        <ul>
          <li s>s</li>
          <li e>e</li>
          <li a>a</li>
          <li r>r</li>
          <li c>c</li>
          <li h>h</li>
        </ul>
      </label>
    </div>
  </div>
  <hr>

  <div *ngIf="(productList.length != 0)" class="row">
    <div class="col-12">
      <h1 class="text-center">All Products</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div *ngFor="let product of productList | paginate:{currentPage:page,  itemsPerPage:8} ; index as i"
        class="col-12 col-sm-6 col-lg-3" data-aos="fade-up" data-aos-duration="3000">
        <div *ngIf="i < 8" class="single-product-area " data-wow-delay="100ms">
          <div class="product-img">
            <a><img class="product-image" src="{{product.productImage}}" alt=""></a>
            <div class="product-meta d-flex cursor-pointer">
              <a (click)="addToFav(product._id)" class="wishlist-btn"><img
                  style="width: 20px; height:20px; filter: invert(1);"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATpJREFUSEvFleFRwzAMhb9OQEeACYAJChuwAXQCGIVOUNiADYANYAIYASYo93JSTnWd2PFdiv+ksaL39J5kd8HMazEzPv9GcAPcAhem8BvYAC/2rvg9cGrvH8BziPfGpAqWwBYQQG692ebVQFwFrIEfj6cEquQc+AUegAj4CJxYosf1vZaUelx7lzmCO6teyZLeV2EfS10kzMVlpYqQiiflRQVKXsVgw4R5ke9AZ2Mk2BngGaBKWpaUf1lih31Ugtktcv/UPNmUNrFkmYZA9uiZbbIAfEz1vJ5AItBXG9fPcEAPrgofRZ2FWpIUXNMzeNCkYgrJKHg6RdHjGpIi+BhBSUkVeIlgiET7saF7nqejVvN/kNrll5umZRS8RoEXFEm0VwU+hSDapd/FynPXdemkNsVretAEfDQFf3ZDVxl/VBnpAAAAAElFTkSuQmCC" /></a>
              <a (click)="viewProduct(product._id)" class="add-to-cart-btn">About</a>
              <a (click)="addToCart(product._id)" class="compare-btn"><img
                  style="width: 20px; height:20px;filter: invert(1);"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQ9JREFUSEvNlM0RAUEQhb+NgBCIABkQARngygEZEAEXrogAGRABIkAEiIBqtbO1Zn9myhplrt37vnnzutfD8fEc6/NTwMN3cwMWwOAb7sIOFEDp1oBtVkjcE/WBMbABGi4AeeDqCxeBcxZIUsiSQTOD8AGoyPdJgDKwzwC4AIU0gNTkFqUEiLqYPhiqfQQMTYAWMP8QEGRnWjTZiVwMJM3BDqiqb0yACdALAST8tgbUnUpd+l7HBJCgTppgGKKL3/1wxbkVQJrWQD0GIk+hZ7QEBBockwNplG1eWY5s5PdiAzCNrGIfAdmft2MLsDQQbbMFTIEOMAO6mkxazThFSiu8sfql0mrWAOcOnGfwv4AnHowxGW0UtfQAAAAASUVORK5CYII=" /></a>
            </div>
          </div>
          <!-- Product Info -->
          <div class="product-info mt-2 text-center cursor-pointer">
            <a (click)="viewProduct(product._id)">
              <h5 class="mb-1">{{product.productName }}</h5>
            </a>
            <h6 class="item-price">₹ {{product.productPrice}}.00</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="(productList.length > 0)" class="row mt-5">
    <div class="col col-lg-4 col-md-3"></div>
    <div class="col-12 col-lg-4 col-md-6 text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="col col-lg-4 col-md-3"></div>
  </div>

  <div *ngIf="(productList.length == 0)" class="row">
    <div class="col-12">
      <h2 style="text-align: center;">No Result Found With This Search</h2>
    </div>
  </div>
</div>


<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>
