/* .news123 {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

body {
    background-color: rgb(245, 244, 245);
}

.steps12 {
    justify-content: center;
    background-color: white;
    border: 5px solid rgb(245, 244, 245);
    border-radius: 5%;
    text-align: center;
    background-color: rgb(218, 230, 218);
    border: 5px solid rgb(91, 201, 91);
    margin-right: 5px;
    margin-bottom: 5px;
    /* width: 95%; */


/* height: inherit;
}

.steps12:hover {
  box-shadow: 0 0 10px gray;
}


img {
  width: 30%;
  height: 30%;
  margin-top: 5%;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .steps12 {
    height: 400px;
  }
}

*/

.user-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px auto 20px;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-top: 3px solid #77CD5A;
  border-bottom: 3px solid #77CD5A;
  /* transform: rotate(-30deg);
  transition: 0.5s; */
}


/* .card-box:hover .user-pic {
  transform: rotate(0deg);
  transform: scale(1.1);
} */

.card-box {
  padding: 15px;
  background-color: #fdfdfd;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 8px 0px #d4d4d4;
  transition: 0.5s;
  overflow: hidden !important;
  position: relative;
  height: 472px;
}

.card-box:hover {
  border: 3px solid #77CD5A;
}

.card-box p {
  color: #808080;
}

a {
  /* position: relative; */
  padding: 10px 30px;
  text-decoration: none;
  /* background: rgba(0, 0, 0, 0.5); */
  /* transition: 1s; */
  /* border-radius: 4px; */
}

/* a:hover {
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 10px var(--clr), 0 0 10px var(--clr);
} */

/* a:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 100%;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.33s * var(--1));
} */

/* a:hover:before {
  width: 120%;
} */

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* a:after {
  content: '';
  position: absolute;
  background: 77CD5A;
} */

ngb-rating {
  /* color: #469609; */
  color: #FFC107;
  font-size: 25px;
}


.tag {
  position: absolute;
  background-color: green;
  color: white;
  width: 52%;
  top: 27px;
  left: -45px;
  transform: translate(180);
  transform: rotate(-41deg);
}
