<!-- <div class="page-content page-container" id="page-content">

  <div class="padding">
    <div class="row  d-flex justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img src="{{image}}" width="150px" height="150px" class="img-radius" alt="">
                </div>
                <h6 class="f-w-600">{{name}}</h6>
                <p *ngIf="!(number == '2')">User</p>
                <p *ngIf="number == '2'">Gardener</p>
                <ngb-rating *ngIf="number == '2'" [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating>
                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Name</p>
                    <h6 class="text-muted ">{{name}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Address</p>
                    <h6 class="text-muted f-w-400">{{address}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">{{email}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Phone</p>
                    <h6 class="text-muted f-w-400">{{mobile}}</h6>
                  </div>
                  <div *ngIf="number =='2'" class="col-sm-6">
                    <p class="m-b-10 f-w-600">Experience</p>
                    <h6 class="text-muted f-w-400">{{experience}}</h6>
                  </div>
                  <button data-toggle="modal" data-target="#exampleModalCenter" class="mt-5 text-center btn1 "
                    style="width: 25%; margin-left: 35%;">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->





<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row  d-flex justify-content-center">
      <div class="col-xl-8 col-md-12">
        <div class="card user-card-full">
          <div class="  row m-l-0 m-r-0 hightw">
            
            <div class="col-sm-4 bg-c-lite-green border1 user-profile">
              <div class="card-block text-center ">
                <div class="m-b-25 " style="margin-top: 10%;">
                  <img src="{{image}}" width="200px" height="200px" class="img-radius" alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 mt-3 imageName">{{name}}</h6>
                <!-- <p class="mt-3" *ngIf="!(number == '2')">User</p>
                <p class="mt-3" *ngIf="number == '2'">Gardener</p> -->
                <ngb-rating *ngIf="number == '2'" [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating>
                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 mt-5 f-16"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 mt-3 p-b-5 b-b-default f-w-600 pHeading"><p class=""  *ngIf="!(number == '2')">User Information</p><p class=""  *ngIf="number == '2'">Gardener Information</p></h6>
                <div class="row mt-5">
                  <div class="col-sm-4 mb-2">
                    <h5 class="  ">Name :</h5>
                  </div>
                  
                  <div class="col-sm-6">
                    <h6 class="text-muted  ">{{name}}</h6>
                  </div>
                 
                  <div class="col-sm-4 mb-2">
                    <h5 class="  ">Address :</h5>
                  </div>
                  
                  <div class="col-sm-6">
                    <h6 class="text-muted  ">{{address}}</h6>
                  </div>
                  <div class="col-sm-4 mb-2">
                    <h5 class="  ">Email :</h5>
                  </div>
                  
                  <div class="col-sm-6">
                    <h6 class="text-muted  ">{{email}}</h6>
                  </div>
                  <div class="col-sm-4 mb-2">
                    <h5 class="  ">Phone :</h5>
                  </div>
                  
                  <div class="col-sm-6">
                    <h6 class="text-muted  ">{{mobile}}</h6>
                  </div>
                  <div *ngIf="number =='2'" class="col-sm-4 mb-2">
                    <h5 class="  ">Experience :</h5>
                  </div>
                  
                  <div *ngIf="number =='2'" class="col-sm-6">
                    <h6 class="text-muted  ">{{experience}}</h6>
                  </div> 
                  
                  <!-- <div class="col-sm-6 mb-2">
                    <p class="mb-1  pData">Address</p>
                    <h6 class="text-muted  pHeading">{{address}}
                    </h6>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <p class="mb-1  pData">Email</p>
                    <h6 class="text-muted  pHeading">{{email}}</h6>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <p class="mb-1  pData">Phone</p>
                    <h6 class="text-muted  pHeading">{{mobile}}</h6>
                  </div>
                  <div *ngIf="number =='2'" class="col-sm-6 mb-2">
                    <p class="mb-1  pData ">Experience</p>
                    <h6 class="text-muted  pHeading">{{experience}}</h6>
                  </div> -->
                  <button data-toggle="modal" data-target="#exampleModalCenter" class="mt-5 mi-2 mr-2 btn btn-primary"
                    style="margin-left: 3%; ">Edit</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="container rounded bg-white">
          <div class="row a12">
            <div class="col-md-4 border-right">

              <div class="d-flex flex-column align-items-center text-center p-3 py-5 ">
                <img class="rounded-circle mt-3 mr-2" [src]="showImage" width="130" height="130" alt="">
                <span class="font-weight-bold">{{name}}</span>
                <span class="text-black-50">
                  <label for="file-input"><i style="cursor: pointer; color: blue;" class="fa fa-edit"></i></label>
                  <input ngModel #foto="ngModel" id="file-input" (change)="onSelect($event)" type="file"
                    style="display: none;" />
                </span>
              </div>

            </div>
            <div class="col-md-8">
              <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              <div class="p-1 py-2">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div class="d-flex flex-row align-items-center back">
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12"><input required ngModel #nam="ngModel" [(ngModel)]="name" type="text"
                      class="" placeholder="Name" value="{{name}}">
                  </div>
                </div>
                <span class="text-danger" *ngIf="nam.errors?.required && nam.touched "><small>Please Enter
                    Name</small></span>
                <div class="row mt-3">
                  <div class="col-md-12"><input pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)" required ngModel
                      #emailId="ngModel" [(ngModel)]="email" type="text" class="" placeholder="Email"
                      value="{{email}}">
                  </div>
                </div>
                <span class="text-danger" *ngIf="emailId.errors?.required && emailId.touched "><small>Please Enter Email
                    Address</small></span>
                <span class="text-danger" *ngIf="emailId.errors?.pattern&& emailId.touched "><small>Please Enter Valid
                    Email Address</small></span>
                <div class="row mt-3">
                  <div class="col-md-12"><input pattern="^(\+?\d{1,4}[\s-])?(?!0+\s+,?$)\d{10}\s*,?$" required ngModel
                      #mob="ngModel" [(ngModel)]="mobile" type="text" class="" value="{{mobile}}"
                      placeholder="Mobile"></div>
                </div>
                <span class="text-danger" *ngIf="mob.errors?.required && mob.touched "><small>Please Enter Mobile
                    Number</small></span>
                <span class="text-danger" *ngIf="mob.errors?.pattern && mob.touched "><small>Please Enter Valid
                    Mobile Number</small></span>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <input required ngModel #add="ngModel" [(ngModel)]="address" type="text" class=""
                      placeholder="Address" value="{{address}}">
                  </div>
                </div>
                <span class="text-danger" *ngIf="add.errors?.required && add.touched "><small>Please Enter
                    Address</small></span>
                <div *ngIf="number =='2'" class="row mt-3">
                  <div class="col-md-12">
                    <input required ngModel #exp="ngModel" [(ngModel)]="experience" type="text" class=""
                      placeholder="Experience" value="{{experience }} ">
                  </div>
                  <span class="text-danger" *ngIf="exp.errors?.required && exp.touched "><small>Please Enter
                      Your Experience</small></span>
                </div>
                <div class="mt-5 text-right"><button
                    [disabled]="nam.untouched && emailId.untouched && mob.untouched && add.untouched && foto.untouched"
                    (click)="updateProfile()" data-dismiss="modal" class="btn btn-primary profile-button"
                    type="button">Save
                    Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Review code -->
<div *ngIf="number == '2' && gardenerRating.length>0" class="container-fluid  p-2 mb-3">
  <div class="row">
    <div class="col-lg-7 mx-auto bg-white rounded shadow">

      <!-- Fixed header table-->
      <div class="table-responsive">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th scope="col" class="col-12">Reviews</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rate of gardenerRating">
              <div class="row m-3">
                <div class="col-md-2">
                  <img src="{{rate.userId.userImage}}" style="width:80px ; height: 80px; border-radius: 50%;" alt="">
                </div>
                <div class="col-md-10">
                  <h4>{{rate.userId.userName}} </h4>
                  <p>
                    <ngb-rating style="font-size: 20px;" *ngIf="number == '2'" [max]="5" [(rate)]="rate.rate"
                      [readonly]=" true">
                    </ngb-rating>
                    {{rate.createdAt | date}}
                  </p>
                  <p>{{rate.review}}</p>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>
