<div class="padding-md">
  <div class="container signin" style=" overflow: hidden;">
    <div class="forms">
      <div class="form login">
        <div class="form">
          <img src="../../../assets/images/Group40.png" alt="" class="logo">
        </div>
        <form action=" #">
          <div class="input-field" style="margin-top: 0%;">
            <input pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)" [(ngModel)]="user.userEmail" ngModel name="email"
              type="text" #Email="ngModel" placeholder="Enter your email" required>
            <i class="uil uil-envelope-alt icon"></i>
          </div>
          <span class="text-danger" *ngIf="Email.errors?.required && Email.touched "><small>Please Enter Email
              Address</small></span>
          <span class="text-danger" *ngIf="Email.errors?.pattern&& Email.touched "><small>Please Enter Valid Email
              Address</small></span>

          <div class="input-field">
            <input id="myInput" [(ngModel)]="user.userPassword" ngModel #Password="ngModel" name="password"
              type="{{passwordType}}" placeholder="Enter your password" required>
            <i class="uil uil-lock icon"></i>
            <i *ngIf="passwordType == 'text'" (click)="showPassword()"
              class="uil uil-eye showHidePw cursor-pointer"></i>
            <i *ngIf="passwordType == 'password'" (click)="showPassword()"
              class="uil uil-eye-slash showHidePw cursor-pointer"></i>

          </div>
          <div class="text-danger" *ngIf="Password.touched && !Password.valid">
            <div *ngIf="Password.errors?.required"><small>Password is required.</small></div>
          </div>
          <div class="text cursor-pointer mt-2">
            <a data-toggle="modal" data-target="#exampleModalCenter">Forgot
              password?</a>
          </div>
          <div class="text-center my-4">
            <input [disabled]="Email.invalid ||  Password.invalid" class="btn btn-primary border-btn cursor-pointer"
              data-toggle="modal" data-target="#exampleModal" (click)="login()" type="button" value="Signin ">
          </div>
          <div class="Google-signin">
            <span>
              <a data-toggle="modal" data-target="#exampleModal" (click)="googleSignin()"
                class="text-link cursor-pointer">Signin with
                Google</a>
            </span>
          </div>
          <div class="login-signup" style="justify-content: center;">
            <span>Not a member?
              <a data-toggle="modal" data-target="#exampleModal" (click)="goToSignUp()"
                class="text-link cursor-pointer">Signup
                Now</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="exampleModal" *ngIf="status">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Continue As...</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body inline-block">
        <div class="form-check">
          <input #user="ngModel" [(ngModel)]="number" value="1" class="form-check-input" type="radio" name="User"
            id="User">
          <label class="form-check-label">
            User
          </label>
        </div>
        <div class="form-check">
          <input #gardener="ngModel" [(ngModel)]="number" value="2" class="form-check-input" type="radio"
            name="Gardener" id="Gardener" checked>
          <label class="form-check-label">
            Gardener
          </label>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


        <button type="button" [disabled]="!user.touched && !gardener.touched" (click)="continueToLogin()"
          class="btn btn-success" data-dismiss="modal">Continue</button>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="">Email</label>
                <input pattern="^([\w]*[\w\.]*(?!\.)@gmail.com)" [(ngModel)]="forgotEmail" #email="ngModel" type="email"
                  class="form-control" required>
                <span class="alert alert-danger" *ngIf="email.errors?.required && email.touched ">Please Enter Email
                  Address</span>
                <span class="alert alert-danger" *ngIf="email.errors?.pattern&& email.touched ">Please Enter Valid
                  Email
                  Address</span>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button data-dismiss="modal" data-toggle="modal" data-target="#exampleModal" type="button"
          [disabled]="email.invalid" (click)="forgotPassword()" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>
