<div class="container-fluid  jusitfy-content-center mt-5 mb-5">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class=" cart">
            <div class="title">
              <div class="row">
                <div class="col">
                  <h4><b>Shopping Cart</b> </h4>
                  <div *ngIf="productList.length > 0" class="d-flex">
                    {{productList.length}} items</div>
                </div>
                </div>
                <!-- <div  routerLink="/"  class="col align-self-center text-right new "><i style="font-size: 30px; top: 0;" class=" mt-5 fa fa-arrow-circle-left" aria-hidden="true"></i><span class="text-muted "></span>
                </div> -->
                <!-- <div *ngIf="productList.length > 0" class="col align-self-center text-right new text-muted">
                  {{productList.length}} items</div>
              </div> -->
            </div>
            <div *ngIf="productList.length > 0" class="row border-top ">
              <div *ngFor="let product of productList; index as i" class="row main align-items-center">
                <div class="col-2 cursor-pointer"><img class="img-fluid" (click)="viewProduct(product._id)"
                    src="{{product.productImage}}"></div>
                <div class="col">
                  <p class="mt-3 cursor-pointer" (click)="viewProduct(product._id)">{{product.productName}}</p>
                </div>
                <div class="col justify-content-between">
                  <p class="unit">Quantity: <input class="form-control" (change)="updatePrice(i,product.productPrice)"
                      (keyup)="updatePrice(i,product.productPrice)" [(ngModel)]="qty[i]" [defaultValue]="1" name="qty"
                      type="number" [defaultValue]="1" min="1" max="10" />
                  </p>
                </div>
                <div class="col px-5">₹ {{product.productPrice}} </div>
                <div class="col  icon"><i (click)="moveToFav(product._id,i)"
                    class="text-success mr-5 fa fa-heart btn-area1 cursor-pointer cart-delete-icon"></i>
                  <span><i (click)="removeFromCart(i,product._id)"
                      class="text-primary  fa fa-trash btn-area  cursor-pointer cart-delete-icon"></i></span>
                </div>
              </div>
            </div>
            <div *ngIf="productList.length == 0" class="row">
              <div class="col">
                <h1 class="text-danger">Your Cart is empty.</h1>
              </div>
            </div>
            <div routerLink="/" class="back-to-shop cursor-pointer mt-2 "><i style="font-size: 30px;" class=" mt-5 fa fa-arrow-circle-left" aria-hidden="true"></i><span class="text-muted "></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="right-bar ">
          <p><span>Shipping</span> <span>Free</span></p>
          <p><span>Total</span> <span>Rs {{grandTotal}}</span></p>
          <button [disabled]="!(productList.length  > 0)" class="btn btn-primary" (click)="checkout()"><i
              class="fa fa-shopping-cart cursor-pointer"></i>Checkout
          </button>

          <!-- <a (click)="checkout()"><i class="fa fa-shopping-cart"></i>Checkout</a> -->
        </div>
      </div>
    </div>
  </div>

</div>
<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>




<!-- <div class="wrapper">
  <h1>Shopping Cart</h1>
  <div *ngIf="productList.length > 0" class="project">
    <div class="shop">
      <div *ngFor="let product of productList; index as i" class="box">
        <img style="cursor: pointer;" (click)="viewProduct(product._id)" src="{{product.productImage}}">
        <div class="content">
          <h3 style="cursor: pointer;" (click)="viewProduct(product._id)">{{product.productName}}</h3>
          <h4>Price: Rs {{product.productPrice}}</h4>
          <p class="unit">Quantity: <input (change)="updatePrice(i,product.productPrice)"
              (keyup)="updatePrice(i,product.productPrice)" [(ngModel)]="qty[i]" [defaultValue]="1" name="qty"
              type="number" [defaultValue]="1" min="1" max="10" />
          </p>
          <i (click)="removeFromCart(i,product._id)" class="fa fa-trash btn-area"></i>
          <i (click)="moveToFav(product._id,i)" class="fa fa-heart btn-area1"></i>
          <br>
        </div>
      </div>
    </div>

    <div class="right-bar">
      <p><span>Shipping</span> <span>Free</span></p>
      <hr>
      <p><span>Total</span> <span>Rs {{grandTotal}}</span></p><a (click)="checkout()"><i
          class="fa fa-shopping-cart"></i>Checkout</a>
    </div>
  </div>

  <div *ngIf="productList.length == 0" class="contaier">
    <div class="row">
      <div class="col">
        <h1 class="text-danger">Your Cart is empty.</h1>
      </div>
    </div>
  </div>
</div>

SPINNER
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner> -->
