<section class="banner-img py-5 bg-cover bg-center img-fluid jusitfy-content-center">
  <div class="py-5 px-5 text-white text-center banner-text">
    <h2 class="">Mauris placerat eleifend leo.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, eveniet.
    </p>
  </div>
</section>

<section class="py-5">
  <div class="container ">

    <div class="col-sm-12 mt-2 mb-3 justify-content-center">
      <div class="row">
        <div class="col-sm-2">
          <a href=""><img src="{{blog.blogImage}}" class="img-fluid" alt=""></a>

        </div>
        <div class="col-sm-10">
          <h2 class="text-shadow hero-heading">{{blog.blogTitle}}</h2>

          <h5 class=" mt-4">{{blog.blogSubTitle}}</h5>
        </div>
      </div>

    </div>
    <div class="col-sm-12">
      <p class="text-small">
        {{blog.blogContent}}
      </p>
    </div>

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-12">
          <div class="d-flex justify-content-between align-items-center">
            <div class="user d-flex flex-row align-items-center">
              <img src="{{blog.createdBy.Image}}" width="30" class="user-img rounded-circle mr-2" />
              <span><small class="font-weight-bold text-primary">{{blog.createdBy.nurseryName}}</small>
                <!-- <small class="font-weight-bold text-primary">{{blog.createdBy.nurseryOwnerEmail}}</small> -->
              </span>
            </div>

            <small>{{blog.createdDate | date}}</small>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>


<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" /> -->

<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>
