/* Navigation======================== */

.form-inline {
    display: inline-block;
}

.navi {
    /* background: linear-gradient(to top, rgb(148, 155, 148), rgba(38, 224, 13, 0.6)); */
    background-color: white;
    /* background: linear-gradient(to top, rgb(148, 155, 148), rgba(38, 224, 13, 0.6)), url("../assets/images/3.jpg"); */
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    /* background: rgb(86, 210, 75); */
    padding: 20px 16px;
    border-bottom: 1px solid #cfc9c9;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: rgb(14, 13, 13);
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}

.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #1c1a1a;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(12 12 12 / 90%);
}

.navbar .nav-item {}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .nav-item.open>a {
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
    left: -40px;
}

.navbar .dropdown-menu a {
    color: rgb(11, 10, 10);
    padding: 8px 20px;
    line-height: normal;
}

.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:active {
    color: rgb(7, 7, 7);
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .badge {
    color: rgb(7, 7, 7);
    background: #f44336;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 6px 0;
    min-height: 18px;
    top: 5px;
}

.navbar a.notifications,
.navbar a.messages {
    position: relative;
    margin-right: 10px;
}

.navbar a.messages {
    margin-right: 20px;
}

.navbar a.notifications .badge {
    margin-left: -8px;
}

.navbar a.messages .badge {
    margin-left: -4px;
}

.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
    background: transparent !important;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 1199px) {
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }
    .input-group {
        width: 100%;
    }
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}


/* .back {
        background-color: #000000;
    }


    .nav-item :hover {    background: linear-gradient(to top, rgb(148, 155, 148), rgba(38, 224, 13, 0.6)), url("../assets/images/3.jpg");


/* nav.img {
    border-radius: 10px;
} */

li {
    list-style: none;
}

li.icons {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

footer {
    /* background-image: url("./3.jpg"), linear-gradient(#179c06, #f3e3e2); */
    background: linear-gradient(to top, rgba(38, 224, 13, 0.6), rgb(148, 155, 148)), url("../assets/images/3.jpg");
}
