<nav class="navbar navbar-expand-lg navbar-dark back sticky-top ">

    <a class="navbar-brand" routerLink="/"> <img src="../assets/images/WhatsApp Image 2022-05-07 at 4.13.27 PM.jpeg" alt=""> </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" style="border: 0;" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link navigation-item " routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigation-item" routerLink="about-us">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navigation-item" routerLink="contact-us">Contact Us</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Caterories
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
            <!-- *ngIf="gardenerOrUser() && isLoggedIn()" -->
            <li class="nav-item">
                <a *ngIf="gardenerOrUser() || !isLoggedIn()" class=" nav-link" routerLink="gardener-list">Gardners List</a>
            </li>
            <li *ngIf="!gardenerOrUser() && isLoggedIn()" class="nav-item">
                <a class="nav-link" href="#">Nursery List</a>
            </li>
            <li *ngIf="!gardenerOrUser() && isLoggedIn()" class="nav-item">
                <a class="nav-link" routerLink="view-requests">Reuests List</a>
            </li>

        </ul>

        <ul class="navbar navbar-right navbar-nav ">

            <li class="nav-item dropdown">
                <a *ngIf="!isLoggedIn()" class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Sign-up
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="whoseSignUp(1)">user</a>
                    <a class="dropdown-item" (click)="whoseSignUp(2)">Gardner</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Ragister your nursury </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a *ngIf="!isLoggedIn()" class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Sign-in
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="whoseSignIn(1)">user</a>
                    <a class="dropdown-item" (click)="whoseSignIn(2)">Gardner</a>
                </div>
            </li>
            <li>
                <a (click)="signOut()" *ngIf="isLoggedIn()" class="nav-link active" href="#">Sign-out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " routerLink="search-product"><i class="fa fa-search "></i> </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                <!-- <i style='font-size:24px' class='fas'>&#xf2bd;</i> -->
                <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->

            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-favorite"><i class="fa fa-heart" aria-hidden="true"></i></a>

            </li>

        </ul>

        <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
</nav>


<router-outlet></router-outlet>


<footer class="footer-area bg-img mt-5" style="background-image: url(../assets/images/water-plant-green-fine-layers.webp);  background-repeat: no-repeat;background-size: cover;  ">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit samet, consectetur adipiscing elit. India situs atione mantor</p>
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>QUICK LINK</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a class="nav-link" href="#">Purchase</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Payment</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Return</a></li>
                                <li><a href="#">Advertise</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Orders</a></li>
                                <li><a href="#">Policities</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>BEST SELLER</h5>
                        </div>

                        <!-- Single Best Seller Products -->
                        <div class="single-best-seller-product d-flex align-items-center">
                            <div class="product-thumbnail">
                                <a href="shop-details.html"><img src="img/bg-img/4.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="shop-details.html">Cactus Flower</a>
                                <p>$10.99</p>
                            </div>
                        </div>

                        <!-- Single Best Seller Products -->
                        <div class="single-best-seller-product d-flex align-items-center">
                            <div class="product-thumbnail">
                                <a href="shop-details.html"><img src="img/bg-img/5.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="shop-details.html">Tulip Flower</a>
                                <p>$11.99</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>CONTACT</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>Address:</span> 505 Silk Rd, New York</p>
                            <p><span>Phone:</span> +1 234 122 122</p>
                            <p><span>Email:</span> info.deercreative@gmail.com</p>
                            <p><span>Open hours:</span> Mon - Sun: 8 AM to 9 PM</p>
                            <p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>&copy;
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- Footer Nav -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>







                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>