/* Navigation======================== */

.form-inline {
    display: inline-block;
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    background: rgb(86, 210, 75);
    padding: 20px 16px;
    border-bottom: 1px solid #cfc9c9;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: rgb(14, 13, 13);
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}

.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #1c1a1a;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(12 12 12 / 90%);
}

.navbar .nav-item {}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .nav-item.open>a {
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
    left: -40px;
}

.navbar .dropdown-menu a {
    color: rgb(11, 10, 10);
    padding: 8px 20px;
    line-height: normal;
}

.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:active {
    color: rgb(7, 7, 7);
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .badge {
    color: rgb(7, 7, 7);
    background: #f44336;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 6px 0;
    min-height: 18px;
    top: 5px;
}

.navbar a.notifications,
.navbar a.messages {
    position: relative;
    margin-right: 10px;
}

.navbar a.messages {
    margin-right: 20px;
}

.navbar a.notifications .badge {
    margin-left: -8px;
}

.navbar a.messages .badge {
    margin-left: -4px;
}

.navbar .active a,
.navbar .active a:hover,
.navbar .active a:focus {
    background: transparent !important;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 1199px) {
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }
    .input-group {
        width: 100%;
    }
}

.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}


/* .back {
        background-color: #000000;
    }


    .nav-item :hover {
        color: rgb(0, 247, 0);
    } */


/* Footer Css */


/* nav.img {
    border-radius: 10px;
} */

.footer-area {
    position: relative;
    z-index: 1;
}

.footer-area::after {
    /* background-color: rgba(4, 43, 15, 0.8); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.footer-area .main-footer-area {
    position: relative;
    z-index: 1;
    padding-top: 80px;
}

.footer-area .single-footer-widget {
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
}

.footer-area .single-footer-widget p {
    color: #b7b7b7;
    margin-bottom: 20px;
}

.footer-area .single-footer-widget .social-info a {
    display: inline-block;
    border: 1px solid #b7b7b7;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    margin-right: 5px;
    line-height: 38px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .single-footer-widget .social-info a {
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
    }
}

.footer-area .single-footer-widget .social-info a:hover,
.footer-area .single-footer-widget .social-info a:focus {
    border-color: #70c745;
    background-color: #70c745;
}

.footer-area .single-footer-widget .widget-title h5 {
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-area .single-footer-widget .widget-nav ul {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-area .single-footer-widget .widget-nav ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
}

.footer-area .single-footer-widget .widget-nav ul li a {
    display: block;
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 11px;
}

.footer-area .single-footer-widget .widget-nav ul li a:hover,
.footer-area .single-footer-widget .widget-nav ul li a:focus {
    color: #ffffff;
}

.footer-area .single-footer-widget .single-best-seller-product {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.footer-area .single-footer-widget .single-best-seller-product::after {
    margin-bottom: 0;
}

.footer-area .single-footer-widget .single-best-seller-product .product-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    max-width: 70px;
    width: 70px;
    margin-right: 30px;
}

.footer-area .single-footer-widget .single-best-seller-product .product-info a {
    display: block;
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
}

.footer-area .single-footer-widget .single-best-seller-product .product-info a:hover,
.footer-area .single-footer-widget .single-best-seller-product .product-info a:focus {
    color: #ffffff;
}

.footer-area .single-footer-widget .single-best-seller-product .product-info p {
    margin-bottom: 0;
    color: #ffffff;
    font-weight: 500;
}

.footer-area .single-footer-widget .contact-information p {
    line-height: 1.3;
    color: #ffffff;
    margin-bottom: 13px;
}

.footer-area .single-footer-widget .contact-information p span {
    color: #b7b7b7;
}

.footer-area .single-footer-widget .contact-information p:last-child {
    margin-bottom: 0;
}

.footer-area .footer-bottom-area {
    position: relative;
    z-index: 1;
}

.footer-area .footer-bottom-area .border-line {
    width: 100%;
    height: 1px;
    background-color: #34513d;
}

.footer-area .footer-bottom-area .copywrite-text {
    position: relative;
    z-index: 1;
    padding: 20px 0;
}

@media only screen and (max-width: 767px) {
    .footer-area .footer-bottom-area .copywrite-text {
        text-align: center;
        padding-bottom: 0;
    }
}

.footer-area .footer-bottom-area .copywrite-text p {
    font-size: 14px;
    color: #b7b7b7;
    font-weight: 400;
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .footer-area .footer-bottom-area .copywrite-text p {
        font-size: 12px;
    }
}

.footer-area .footer-bottom-area .copywrite-text p a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}

.footer-area .footer-bottom-area .copywrite-text p a:hover,
.footer-area .footer-bottom-area .copywrite-text p a:focus {
    color: #70c745;
}

@media only screen and (max-width: 767px) {
    .footer-area .footer-bottom-area .copywrite-text p a {
        font-size: 12px;
    }
}

.footer-area .footer-bottom-area .footer-nav {
    position: relative;
    z-index: 1;
    padding: 20px 0;
}

.footer-area .footer-bottom-area .footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
    .footer-area .footer-bottom-area .footer-nav ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.footer-area .footer-bottom-area .footer-nav ul li a {
    display: inline-block;
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400;
    margin: 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-bottom-area .footer-nav ul li a {
        margin: 0 8px;
    }
}

@media only screen and (max-width: 767px) {
    .footer-area .footer-bottom-area .footer-nav ul li a {
        margin: 0 5px;
    }
}

.footer-area .footer-bottom-area .footer-nav ul li a:hover,
.footer-area .footer-bottom-area .footer-nav ul li a:focus {
    color: #ffffff;
}

.footer-area .footer-bottom-area .footer-nav ul li:last-child a {
    margin-right: 0;
}

@media only screen and (max-width: 767px) {
    .navbar-right {
        display: block;
    }
}
