<div class="container padding-md">
  <div class=" row ">
    <div class="col">
      <h2 class="text-center mb-5">Product Details</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{{product.productImage}}" alt="Product Image">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <h2>{{product.productName }}</h2>

        <p class="price">Price: ₹{{product.productPrice}}.00</p>
        <p *ngIf="product.productRating.length > 0"><b>Rating: </b>
          <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true"></ngb-rating>
          {{product.productRating.length}} Ratings
        </p>
        <p><b>Description:</b>{{product.productDescription}}</p>
        <button (click)="addToFav(product._id)" type="button" class="btn btn-primary mb-3 mr-3">Add to
          favourite</button>
        <button (click)="addToCart(product._id)" type="button" class="btn btn-primary border-btn mb-3">Add to
          cart</button>
      </div>
    </div>
  </div>
</div>

<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>
