<div class="wrapper">
    <h1>Shopping Cart</h1>
    <div *ngIf="productList.length > 0" class="project">
        <div class="shop">
            <div *ngFor="let product of productList; index as i" class="box">
                <img src="{{product.productImage}}">
                <div class="content">
                    <h3>{{product.productName}}</h3>
                    <h4>Price: Rs {{product.productPrice}}</h4>
                    <p class="unit">Quantity: <input name="" type="number" value="1" min="1" max="100"></p>
                        <i class="fa fa-trash btn-area"></i>
                       
                    
                    <i class="fa fa-heart btn-area1"></i>
                    <br>
                </div>
            </div>
        </div>

        <div class="right-bar">
            <p><span>Shipping</span> <span>Free</span></p>
            <hr>
            <p><span>Subtotal</span> <span>Rs 120</span></p>
            <hr>
            <p><span>Total</span> <span>Rs 141</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
        </div>
    </div>

    <div *ngIf="productList.length == 0" class="contaier">
        <div class="row">
            <div class="col">
                <h1 class="text-danger">Your Cart is empty.</h1>
            </div>
        </div>
    </div>
</div>
