<div class="wrapper">
    <h1>Shopping Cart</h1>
    <div *ngIf="productList.length > 0" class="project">
        <div class="shop">
            <div *ngFor="let product of productList; index as i" class="box">
                <img src="{{product.productImage}}">
                <div class="content">
                    <h3>{{product.productName}}</h3>
                    <h4>Price: Rs {{product.productPrice}}</h4>
                    <p class="unit">Quantity: <input (change)="updatePrice(i,product.productPrice)" (keyup)="updatePrice(i,product.productPrice)" [(ngModel)]="qty[i]" [defaultValue]="1" name="qty" type="number" [defaultValue]="1" min="1" max="10" />
                    </p>
                    <p (click)="removeFromCart(i,product._id)" class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i>
                        <span class="btn2"></span>
                    </p>
                    <br>
                    <p (click)="moveToFav(product._id,i)" class="btn-area1"><i aria-hidden="true" class="fa fa-heart"></i></p>
                </div>
            </div>
        </div>

        <div class="right-bar">
            <p><span>Shipping</span> <span>Free</span></p>
            <hr>
            <!-- <p><span>Subtotal</span> <span>Rs {{grandTotal}}</span></p>
            <hr> -->
            <p><span>Total</span> <span>Rs {{grandTotal}}</span></p><a (click)="checkout()"><i
          class="fa fa-shopping-cart"></i>Checkout</a>
        </div>
    </div>

    <div *ngIf="productList.length == 0" class="contaier">
        <div class="row">
            <div class="col">
                <h1 class="text-danger">Your Cart is empty.</h1>
            </div>
        </div>
    </div>
</div>