<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconlink-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!--closeIconLink-->

    <title>SignUp</title>
</head>

<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <div class="form logo" style="margin-left: 100px; margin-bottom: 5px;">
                    <img src="../../../assets/images/logoprikriti.png" alt="" class="logo">
                </div>

                <form action="#">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your Name" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" required>
                        <i class="uil uil-envelope-alt icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your Mobile" required>
                        <i class="uil uil-mobile-android"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Enter your Address" required>
                        <i class="uil uil-house-user"></i>
                    </div>

                    <div class="input-field button">
                        <input type="button" value="SignUp ">
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

</html>
