<div id="" class="container">
  <div class="row">
    <div class="section-heading col-sm-6 offset-sm-3 mt-4 mb-4">
      <h2 class="text-center">Our Expert Gardeners</h2>
      <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let gardener of gardenerList | paginate: { itemsPerPage: 8, currentPage: page};  index as i "
      class="col-md-4">
      <div class="card-box text-center">
        <div class="user-pic cursor-pointer">
          <img (click)="viewGardener(gardener._id)" src="{{gardener.gardenerImage}}" class="img-fluid" alt="User Pic">
        </div>
        <ngb-rating [max]="5" [(rate)]="starRating[i]" [readonly]="true"></ngb-rating>
        <h4>{{gardener.gardenerName | uppercase}}</h4>
        <!-- <h6>{{gardener.gardenerMobile }}</h6> -->
        <a (click)="viewGardener(gardener._id)" class="cursor-pointer">
          More..
        </a>
        <hr>
        <div class="button">
          <button (click)="setData(gardener._id)" *ngIf="!isBooked[i]" data-toggle="modal"
            data-target="#exampleModalCenter" class="btn btn-primary ">Book</button>

          <!-- <a (click)="setData(gardener._id)" *ngIf="!isBooked[i]" data-toggle="modal" data-target="#exampleModalCenter"
            class="btn btn-primary border-btn">Book</a> -->

          <!-- <a *ngIf="isBooked[i]" (click)="alreadyBook()" class="btn btn-primary border-btn">Booked</a> -->

          <button *ngIf="isBooked[i]" (click)="alreadyBook()" class="btn btn-primary border-btn">Booked</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(gardenerList.length > 0)" class="row mt-5">
    <div class="col col-lg-4 col-md-3"></div>
    <div class="col-12 col-lg-4 col-md-6 text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="col col-lg-4 col-md-3"></div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Write your message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea required #que="ngModel" [(ngModel)]="query" name="query" id="" cols="30" class="form-control"
          rows="5"></textarea>
        <span *ngIf="que.errors?.required && que.touched" class="text-danger"><small>Please Write
            Something</small></span>
      </div>
      <div class=" modal-footer">
        <button type="button" class="btn btn-secondary p-2" data-dismiss="modal">Back</button>
        <button data-dismiss="modal" [disabled]="que.invalid" class="btn btn-primary"
          (click)="bookGardener()">Send</button>
      </div>
    </div>
  </div>
</div>


<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>
