<!-- ##### Product Area Start ##### -->
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

<section class="new-arrivals-products-area bg-gray section-padding-100">
    <div class="container">
        <div class="row">
            <div *ngFor="let product of productList" class="col-12 col-sm-6 col-lg-3">
                <div class="single-product-area mb-50 wow fadeInUp mt-5" data-wow-delay="100ms">
                    <div class="product-img">
                        <a href="shop-details.html"><img class="product-image" src="{{product.productImage}}" alt=""></a>
                        <div class="product-meta d-flex">

                            <a class="wishlist-btn"><img style="width: 20px; height:20px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATpJREFUSEvFleFRwzAMhb9OQEeACYAJChuwAXQCGIVOUNiADYANYAIYASYo93JSTnWd2PFdiv+ksaL39J5kd8HMazEzPv9GcAPcAhem8BvYAC/2rvg9cGrvH8BziPfGpAqWwBYQQG692ebVQFwFrIEfj6cEquQc+AUegAj4CJxYosf1vZaUelx7lzmCO6teyZLeV2EfS10kzMVlpYqQiiflRQVKXsVgw4R5ke9AZ2Mk2BngGaBKWpaUf1lih31Ugtktcv/UPNmUNrFkmYZA9uiZbbIAfEz1vJ5AItBXG9fPcEAPrgofRZ2FWpIUXNMzeNCkYgrJKHg6RdHjGpIi+BhBSUkVeIlgiET7saF7nqejVvN/kNrll5umZRS8RoEXFEm0VwU+hSDapd/FynPXdemkNsVretAEfDQFf3ZDVxl/VBnpAAAAAElFTkSuQmCC"
                                /></a>
                            <a routerLink="view-particular-product/{{product._id}}" class="add-to-cart-btn">About</a>
                            <a class="compare-btn"><img style="width: 20px; height:20px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQ9JREFUSEvNlM0RAUEQhb+NgBCIABkQARngygEZEAEXrogAGRABIkAEiIBqtbO1Zn9myhplrt37vnnzutfD8fEc6/NTwMN3cwMWwOAb7sIOFEDp1oBtVkjcE/WBMbABGi4AeeDqCxeBcxZIUsiSQTOD8AGoyPdJgDKwzwC4AIU0gNTkFqUEiLqYPhiqfQQMTYAWMP8QEGRnWjTZiVwMJM3BDqiqb0yACdALAST8tgbUnUpd+l7HBJCgTppgGKKL3/1wxbkVQJrWQD0GIk+hZ7QEBBockwNplG1eWY5s5PdiAzCNrGIfAdmft2MLsDQQbbMFTIEOMAO6mkxazThFSiu8sfql0mrWAOcOnGfwv4AnHowxGW0UtfQAAAAASUVORK5CYII="
                                /></a>
                        </div>
                    </div>
                    <!-- Product Info -->
                    <div class="product-info mt-2 text-center">
                        <a href="shop-details.html">
                            <p style="">{{product.productName | uppercase}}</p>
                        </a>
                        <h6>Rs. {{product.productPrice}}.00</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Product Area End ##### -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>