<div class="container-fluid about-banner">
  <div class="about-banner">
    <div class="aboutheroimg" style="
          background-image: url(../../../assets/images/23.jpg);
          height: 500px;
          width: 100%;

          background-repeat: no-repeat;
          background-size: cover;
        ">
      <div class="about-text" style="justify-content: center; text-align: center; padding-top: 37%">
        <h2>ABOUT US</h2>
        <p>We are leading in the plants service fields.</p>

        <p>
          Quisque orci quam, vulputate non commodo finibus, molestie ac ante.
        </p>
        <p>
          Duis in sceleri quesem. Nulla sit amet varius nunc. Maecenas dui, tempeu ullam corper in.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 30px">
  <div class="row about-cards" style="padding-left: 30px; padding-top: 250px">
    <div class="col-md-6 box">
      <div class="content">
        <h2>Quality Products</h2>
        <p>
          Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn
        </p>
      </div>
    </div>
    <div class="col-md-6 box">
      <div class="content">
        <h2>Perfect Service</h2>
        <p>
          Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: -40px">
  <div class="row about-cards" style="padding-left: 30px; padding-top: 50px">
    <div class="col-md-6 box">
      <div class="content">
        <h2>100% Natural .</h2>
        <p>
          Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn
        </p>
      </div>
    </div>
    <div class="col-md-6 box">
      <div class="content">
        <h2>Environmentally</h2>
        <p>
          Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn
        </p>
      </div>
    </div>
  </div>
</div>
<div class="bgimg" style="
      background-image: url('../../../assets/images/Orchids-macro-virtual-background.jpg ');
      width: 100%;
      height: 550px;
      background-size: cover;
    ">
  <!-- <div class=" aboutsubhero">
            <img src="../../../assets/images/Orchids-macro-virtual-background.jpg" style="width: 1600px; height: 750px; background-size: cover; ">
            <h1>hello</h1>
        </div> -->
</div>
<div class="container teamtittle" style="padding-top: 70px">
  <h2>Our Team</h2>
  <p>
    Our roots are digital, our passion is contagious and most importantly, ur people are creative, inspiring, and
    dedicated!Indoor plants have been proven to improve mood, better mental health, improve air quality, and also make
    the environment more soothing
    to the senses. Home gardening is a very big global trend now, but it has always been a part of human civilization.
  </p>
</div>

<div class="container text-center" style="padding-top: 60px">
  <div class="row" style="margin-left: 20px; margin-right: 20px">
    <div class="col col-md" style="height: 300px" bo>
      <div class="card" style="height: 300px">
        <img src="../../../assets/images/div.jpeg" class="card-img-top" style="height: 200px" alt="..." />
        <div class="card-body">
          <p class="card-text">Divya Garde</p>
        </div>
      </div>
    </div>
    <div class="col col-md" style="height: 300px">
      <div class="card" style="height: 300px">
        <img src="../../../assets/images/WhatsApp Image 2022-05-07 at 10.45.42 AM.jpeg" class="card-img-top"
          style="height: 200px" alt="..." />
        <div class="card-body">
          <p class="card-text">Jayshree Patil</p>
        </div>
      </div>
    </div>
    <div class="col col-md" style="height: 300px">
      <div class="card" style="height: 300px">
        <img src="../../../assets/images/WhatsApp Image 2022-05-07 at 10.50.54 AM.jpeg" class="card-img-top"
          style="height: 200px" alt="..." />
        <div class="card-body">
          <p class="card-text">Raj kasotiya</p>
        </div>
      </div>
    </div>
    <div class="col col-md" style="height: 300px">
      <div class="card" style="height: 300px">
        <img src="../../../assets/images/WhatsApp Image 2022-05-07 at 10.31.48 AM.jpeg" class="card-img-top"
          style="height: 200px" alt="..." />
        <div class="card-body">
          <p class="card-text">Somika Verma</p>
        </div>
      </div>
    </div>
    <div class="col col-md" style="height: 300px">
      <div class="card" style="height: 300px">
        <img src=".
./../../assets/images/vansh.png" class="card-img-top" style="height: 200px" alt="..." />
        <div class="card-body">

    <p class="card-text">Vansh Pal</p>
        </div>
      </div>
    </div>
  </div>
</div>
