<table class="table table-hover">
    <thead>
        <tr>
            <th>Profile Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Experience</th>
            <th>Rating</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gardener of gardenerList">
            <td><img src="{{gardener.gardenerImage}}" style="height: 100px; width: 100px; border-radius: 50%;" alt=""></td>
            <td>{{gardener.gardenerName}}</td>
            <td>{{gardener.gardenerEmail}}</td>
            <td>{{gardener.gardenerExperience}}</td>
            <td>
                <ngb-rating (click)="ratingGardener(gardener.gardenerRating)" [max]="5" [(rate)]="starRating" [readonly]="true">
                </ngb-rating>
            </td>
            <td>{{gardener.gardenerMobile}}</td>
        </tr>
    </tbody>
</table>
