/* /* ngb-rating {
    color: #469609;
    /* color: #FFC107;
    font-size: 30px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
body {
    background-color: #f5efef;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.container {
    height: auto;
}

.card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 370px;
}

.upper {
    height: 100px;
}

.upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user {
    position: relative;
    content: counter(user);
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.stats span {
    font-size: 29px;
} */

.user-pic {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px auto 20px;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid #77CD5A;
    border-bottom: 3px solid #77CD5A;
    /* transform: rotate(-30deg);
  transition: 0.5s; */
}


/* .card-box:hover .user-pic {
  transform: rotate(0deg);
  transform: scale(1.1);
} */

.card-box {
    padding: 15px;
    background-color: #fdfdfd;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
}

.card-box:hover {
    border: 3px solid #77CD5A;
}

.card-box p {
    color: #808080;
}

a {
    position: relative;
    padding: 10px 30px;
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
    background: rgba(0, 0, 0, 0.5);
    /* text-decoration: none; */
    transition: 1s;
    border-radius: 4px;
}

a:hover {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 10px var(--clr), 0 0 10px var(--clr);
}

a:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 100%;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.33s * var(--1));
}

a:hover:before {
    width: 120%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a:after {
    content: '';
    position: absolute;
    background: 77CD5A;
}

ngb-rating {
    /* color: #469609; */
    color: #FFC107;
    font-size: 25px;
}
