<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th>Profile Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Experience</th>
            <th>Rating</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gardener of gardenerList">
            <td><img src="{{gardener.gardenerImage}}" style="height: 100px; width: 100px; border-radius: 50%;" alt=""></td>
            <td>{{gardener.gardenerName}}</td>
            <td>{{gardener.gardenerEmail}}</td>
            <td>{{gardener.gardenerExperience}}</td>
            <td>
                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="true">
                </ngb-rating>
            </td>
            <td>{{gardener.gardenerMobile}}</td>
        </tr>
    </tbody>
</table> -->

<div class="container ">
    <div class="row m-5">
        <div class="col">
            <h1 style="text-align: center;">All Gardeners</h1>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let gardener of gardenerList" class="col-md-4 mt-3 d-flex justify-content-center align-items-center">
            <div class="card">
                <div class="upper">
                    <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
                </div>
                <div class="user justify-content-center text-center">
                    <div class="profile">
                        <img src="{{gardener.gardenerImage}}" class="rounded-circle">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <a style="color: rgb(4, 2, 121);" href="">more..</a>
                    <h4 class="mb-0">{{gardener.gardenerName | uppercase}}</h4>
                    <span class="text-muted d-block mb-2">{{gardener.gardenerAddress}}</span>
                    <button data-toggle="modal" data-target="#exampleModal" (click)="bookGardener(gardener._id)" class="btn btn-success btn-sm follow">Book
            Gardner</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- The Modal -->
<div class="modal fade" id="exampleModal" *ngIf="status">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body inline-block">
                <label for="">Continue As :</label>
                <div class="form-check">
                    <input #user="ngModel" [(ngModel)]="number" value="1" class="form-check-input" type="radio" name="User" id="User">
                    <label class="form-check-label">
            User
          </label>
                </div>
                <div class="form-check">
                    <input #gardener="ngModel" [(ngModel)]="number" value="2" class="form-check-input" type="radio" name="Gardener" id="Gardener" checked>
                    <label class="form-check-label">
            Gardener
          </label>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" [disabled]="!user.touched && !gardener.touched" (click)="continueToLogin()" class="btn btn-success">Continue</button>
            </div>

        </div>
    </div>
</div>