/* Center align the text within the three columns below the carousel */

.marketing {
    margin-top: 50px;
}

.marketing .col-lg-3 {
    /* margin-bottom: 1.5rem; */
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-3 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* ========================================== */


/* body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
} */


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */


/* Carousel base class */


/* .carousel {
    margin-bottom: 4rem;
} */


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    color: rgb(43, 145, 59);
}


/* .carousel-caption .btn {
    background-color: rgb(43, 145, 59);
} */


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 550px;
    background-color: rgb(247, 252, 248);
}

.carousel-item img {
    min-width: 100%;
    height: 100%;
}


/* Product Css ============================== */


/* :: 7.0 New Arrivals Products Area */

.product-image {
    width: 200px;
    height: 200px;
    /* box-shadow: 0 0 8px green; */
    /* border-radius: 50%; */
}

.product-image:hover {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 15px gray;
    /* border-radius: 50%; */
}

.single-product-area {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-product-area .product-img {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-product-area .product-img a {
    display: block;
}

.single-product-area .product-img img {
    position: relative;
    z-index: 1;
    width: 100%;
}


/*
.classs {
    box-shadow: 0 0 10px gray;
} */

.single-product-area .product-img .product-tag a {
    background-color: #429edf;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.single-product-area .product-img .product-tag.sale-tag a {
    background-color: #e61d47;
}

.single-product-area .product-img .product-meta {
    position: absolute;
    bottom: 30px;
    left: 15px;
    right: 15px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-product-area .product-img .product-meta a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    background-color: #303030;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
}

.single-product-area .product-img .product-meta a:hover,
.single-product-area .product-img .product-meta a:focus {
    background-color: #70c745;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-product-area .product-img .product-meta a {
        font-size: 11px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-product-area .product-img .product-meta a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 767px) {
    .single-product-area .product-img .product-meta a {
        font-size: 14px;
    }
}

.single-product-area .product-img .product-meta .add-to-cart-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 100px);
    flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
    width: calc(100% - 100px);
    border-left: 1px solid rgba(235, 235, 235, 0.5);
    border-right: 1px solid rgba(235, 235, 235, 0.5);
}

.single-product-area .product-info a p {
    margin-bottom: 0;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    font-family: 'Courier New', Courier, monospace;
    color: #303030;
    font-weight: 600;
    font-size: 20px;
}

.single-product-area .product-info a p:hover,
.single-product-area .product-info a p:focus {
    color: #70c745;
}

.single-product-area .product-info h6 {
    margin-bottom: 0;
    font-size: 18px;
}

.single-product-area:hover .product-img {
    box-shadow: 0 5px 30px 0 rgba(113, 226, 7, 0.15);
}

.single-product-area:hover .product-img .product-meta {
    visibility: visible;
    opacity: 1;
}

.alazea-btn {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 150px;
    height: 46px;
    color: #ffffff;
    background-color: #70c745;
    border: 2px solid #70c745;
    border-radius: 2px;
    padding: 0 20px;
    /* margin-top: -350px; */
    font-size: 16px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 100px;
}

.alazea-btn.active,
.alazea-btn:hover,
.alazea-btn:focus {
    font-size: 16px;
    color: #70c745;
    font-weight: 600;
    background-color: transparent;
    box-shadow: none;
}
