<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/leaves-1498985_960_720.jpg" alt="Third slide">

      <div class="container-fluid">
        <div class="carousel-caption text-white text-center">
          <h2>Why you should keep plants</h2>
          <p>We are here to inspire a world where every plant journey is a personal revolution<br> of inner change and
            growth</p>
          <!-- <p><a class="btn btn-lg btn-primary " routerLink="search-product" role="button">View Products</a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/Plants-Gardening-Garden-Pexels-1000x667.png" alt="Second slide">
      <div class="container-fluid">
        <div class="carousel-caption text-white text-center">
          <h2>Only destination for all your gardening need</h2>
          <p>get your garden ready with parakite <br> Find all gardening product , gardener and important tips here .
          </p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/seedlings-7110591_960_720.webp" alt="First slide">
      <div class="container-fluid">
        <div class="carousel-caption text-white text-center">
          <h2>Only destination for all your gardening need</h2>
          <p>get your garden ready with parakite <br> Find all gardening product , gardener and important tips here .
          </p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>



  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!--================= services ================================-->

<section class="bg-light padding-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mb-3 ">
          <h2>Our Services</h2>
          <p>We are here to inspire a world where every plant journey is a personal revolution<br> of inner change and
            growth</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-between mt-5">
      <div class="col-12 col-lg-5">
        <div class="alazea-service-area mb-100">
          <div class="single-service-area d-flex align-items-center animate__bounceOut" data-wow-delay="100ms">
            <div class="service-icon mr-30">
              <img src="../../assets/images/s1.png" alt="">
            </div>
            <div class="service-content pl-4">
              <h5>Plants Care</h5>
              <p>Our team is continuously working to ashore the quality of our products .</p>
            </div>
          </div>
          <div class="single-service-area d-flex align-items-center animate__fadeInUp">
            <div class="service-icon mr-30">
              <img src="../../assets/images/s2.png" alt="">
            </div>
            <div class="service-content pl-4">
              <h5>Gardner Services</h5>
              <p>Book an expert and verified gardener on prakriti and make your garden more attractive .</p>
            </div>
          </div>
          <div class="single-service-area d-flex align-items-center animate__fadeInUp" data-wow-delay="500ms">
            <div class="service-icon mr-30">
              <img src="../../assets/images/s1.png" alt="">
            </div>
            <div class="service-content pl-4">
              <h5>Product delivery</h5>
              <p> we are committed to deliver your favorite product on your door .</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="alazea-video-area bg-overlay mb-100">
          <!-- <img src="https://floora.co/wp-content/uploads/2020/06/Watering-Plants-Singapore.jpg" type="" alt=""> -->
          <!-- <a href="" class="video-icon"> -->
          <iframe src="https://www.youtube.com/embed/LZhnCxG5c6s" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Service Area End ##### -->








<!-- Marketing messaging and featurettes================================================== -->
<section class="marketing-container padding-md">
  <div class=" container marketing ">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mb-5">
          <h2>Our Categories</h2>
        </div>
      </div>
    </div>

    <div class="row " data-aos="fade-up" data-aos-duration="1200" data-aos-delay="0.1s">
      <div *ngFor="let category of categoryList; index as i" class="col-lg-3 col-md-6 col-sm-12 cursor-pointer">
        <img *ngIf="i < 4" routerLink="product-by-category/{{category._id}}" class="rounded-circle"
          src="{{category.categoryImage}}" alt="Generic placeholder image" width="140" height="140">
        <h4 *ngIf="i < 4" routerLink="product-by-category/{{category._id}}" class="mt-3">
          {{category.categoryName | uppercase}}</h4>
      </div>
    </div>

  </div>
</section>




<section class="new-arrivals-products-area bg-light padding-md">
  <div class="container">
    <div class="row ">
      <div class="col-12 ">
        <div class="section-heading text-center mb-4">
          <h2>New Arrivals</h2>
          <p data-aos="fade-right" data-aos-duration="3000"><b>Checkout our latest product </b></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let product of productList; index as i" class="col-12 col-sm-6 col-lg-3" data-aos="fade-up"
        data-aos-duration="3000">
        <div *ngIf="i < 8" class="single-product-area " data-wow-delay="100ms">
          <div class="product-img">
            <a><img class="product-image" src="{{product.productImage}}" alt=""></a>
            <div class="product-meta d-flex cursor-pointer">
              <a (click)="addToFav(product._id)" class="wishlist-btn"><img
                  style="width: 20px; height:20px; filter: invert(1);"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATpJREFUSEvFleFRwzAMhb9OQEeACYAJChuwAXQCGIVOUNiADYANYAIYASYo93JSTnWd2PFdiv+ksaL39J5kd8HMazEzPv9GcAPcAhem8BvYAC/2rvg9cGrvH8BziPfGpAqWwBYQQG692ebVQFwFrIEfj6cEquQc+AUegAj4CJxYosf1vZaUelx7lzmCO6teyZLeV2EfS10kzMVlpYqQiiflRQVKXsVgw4R5ke9AZ2Mk2BngGaBKWpaUf1lih31Ugtktcv/UPNmUNrFkmYZA9uiZbbIAfEz1vJ5AItBXG9fPcEAPrgofRZ2FWpIUXNMzeNCkYgrJKHg6RdHjGpIi+BhBSUkVeIlgiET7saF7nqejVvN/kNrll5umZRS8RoEXFEm0VwU+hSDapd/FynPXdemkNsVretAEfDQFf3ZDVxl/VBnpAAAAAElFTkSuQmCC" /></a>
              <a routerLink="view-particular-product/{{product._id}}" class="add-to-cart-btn">About</a>
              <a (click)="addToCart(product._id)" class="compare-btn"><img
                  style="width: 20px; height:20px;filter: invert(1);"
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAQ9JREFUSEvNlM0RAUEQhb+NgBCIABkQARngygEZEAEXrogAGRABIkAEiIBqtbO1Zn9myhplrt37vnnzutfD8fEc6/NTwMN3cwMWwOAb7sIOFEDp1oBtVkjcE/WBMbABGi4AeeDqCxeBcxZIUsiSQTOD8AGoyPdJgDKwzwC4AIU0gNTkFqUEiLqYPhiqfQQMTYAWMP8QEGRnWjTZiVwMJM3BDqiqb0yACdALAST8tgbUnUpd+l7HBJCgTppgGKKL3/1wxbkVQJrWQD0GIk+hZ7QEBBockwNplG1eWY5s5PdiAzCNrGIfAdmft2MLsDQQbbMFTIEOMAO6mkxazThFSiu8sfql0mrWAOcOnGfwv4AnHowxGW0UtfQAAAAASUVORK5CYII=" /></a>
            </div>
          </div>
          <!-- Product Info -->
          <div class="product-info mt-2 text-center">
            <a routerLink="view-particular-product/{{product._id}}">
              <h5 class="mb-1">{{product.productName }}</h5>
            </a>
            <h6 class="item-price">₹ {{product.productPrice}}.00</h6>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-3" data-aos="zoom-in-upgit " data-aos-duration="3000">
        <a routerLink="search-product" class="btn btn-primary border-btn">View All</a>
      </div>
    </div>
  </div>
</section>


<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area padding-md">
  <div class=" container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center">
          <h2>Latest Blogs</h2>
          <p>
            Be a better gardener with prakriti .<br> find all the helpful tips hear for free and make your plants more
            healthy
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <!-- Single Blog Post Area -->
      <div *ngFor="let blog of blogList; index as i" class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5">
        <div *ngIf="i < 3" class="single-blog-post mb-100">
          <div class="post-thumbnail mb-30 cursor-pointer">
            <a (click)="viewBlog(blog._id)"><img style="height: 255px; width: 350px;" src="{{blog.blogImage}}"
                alt=""></a>
          </div>
          <div class="post-content">
            <a (click)="viewBlog(blog._id)" class="post-title cursor-pointer">
              <h5 class="mt-2">{{blog.blogTitle}}</h5>
            </a>
            <div class="post-meta">
              <a><i class="fa fa-clock-o" aria-hidden="true"></i> {{blog.createdDate | date}}</a>
              <a><i class="fa fa-user" aria-hidden="true"></i> {{blog.createdBy.nurseryName}}</a>
            </div>
            <p class="post-excerpt">{{blog.blogSubTitle}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Blog Area End ##### -->


<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>


<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>




<script src="../../assets/js/vendor/popper.min.js"></script>


<script src="../../dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../assets/js/vendor/holder.min.js"></script>

<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
