<!-- <div class="container">
    <div class="row mt-5 align-content-center">
        <div *ngFor="let user of dataList; index as i" class="col-md-3 p-1">
            <div *ngIf="user.userId != null" class="steps12">
                <img style="margin-top: 5%;" src="{{user.userId.userImage}}" alt="">
                <h4 class="mt-1">{{user.userId.userName}}</h4>
                <h6>+91 {{user.userId.userMobile}}</h6>
                <p>{{user.userId.userAddress}}</p>
                <button (click)="approveRequest(user)" class="mb-1 btn btn-success p-1 mb-3 mr-1" type="button">Acceept</button>
                <button (click)="cancelRequest(user,i)" class="mb-1 btn btn-danger pt-1 pb-1 mb-3">Cancel</button>
            </div>
            <div *ngIf="user.nurseryId != null" class="steps12">
                <img style="margin-top: 5%;" src="{{user.nurseryId.Image}}" alt="">
                <h4 class="mt-1">{{user.nurseryId.nurseryName}}</h4>
                <h6>+91 {{user.nurseryId.nurseryOwnerMobile}}</h6>
                <p>{{user.nurseryId.nurseryAddress}}</p>
                <button (click)="approveRequest(user)" class="mb-1 btn btn-success p-1 mb-3 mr-1" type="button">Acceept</button>
                <button (click)="cancelRequest(user,i)" class="mb-1 btn btn-danger pt-1 pb-1 mb-3">Cancel</button>
            </div>
        </div>
        <div *ngIf="dataList.length == 0" class="col">
            <h1 class="text-danger" style="text-align: center;">No Request Yet</h1>
        </div>
    </div>
</div> -->




<div class="container padding-md">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mt-4 mb-4">
      <h2 class="text-center">All Booking Requests</h2>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let user of tempData; index as i" class="col-md-4">
      <div *ngIf="user.userId != null " class="card-box text-center">
        <img (click)="showQuery(user.query)" data-toggle="modal" data-target="#exampleModalCenter"
          class="cursor-pointer" style="float: right;"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3UlEQVRIS92V0Q3CMAxE2wlgA8oEMELZBCaDTdoRYAPYgA3gTsJSlNoJjuQPiOSf2OdnX1Hou+DTB/fvcsAI4BkxNILv0J0Qs+hzAAs2jc1Fxh5bC/D6JFqtW+jzRv8HkI1qn0WccFsUDqhNnufdG4QDShZpP2X3BuGAcIt+D/DEyCtl7CvuDgjmedaICbFXah+4G6zHbkTiYryoAqG21PyI/GwBNM85LQU7BCE8nPyG4ECylaZd/OGoRbhMIaz5qjkLPe++QKirTu6xKN2KEJ6iLanAs4FlX/E+HPAGR1g1GWsPmacAAAAASUVORK5CYII=" />

        <div class="user-pic">
          <img style="object-fit: contain;" src="{{user.userId.userImage}}" class="img-fluid" alt="User Pic">
        </div>
        <h4>{{user.userId.userName | uppercase}}</h4>
        <p>(User)</p>
        <h6>+91 {{user.userId.userMobile}}</h6>
        <hr>
        <p>{{user.userId.userAddress}}</p>
        <hr>
        <button (click)="approveRequest(user)" class="btn btn-primary mr-3">Accept</button>
        <button (click)="cancelRequest(user,i)" class="btn btn-primary border-btn">Reject</button>

        <!-- <a (click)="approveRequest(user)" class="btn btn-primary"><span>Accept</span></a> -->
        <!-- <a (click)="cancelRequest(user,i)" class="btn btn-primary border-btn"><span>Reject</span></a> -->
      </div>
      <div *ngIf="user.nurseryId != null " class="card-box text-center">
        <img (click)="showQuery(user.query)" data-toggle="modal" data-target="#exampleModalCenter"
          class="cursor-pointer" style="float: right;"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3UlEQVRIS92V0Q3CMAxE2wlgA8oEMELZBCaDTdoRYAPYgA3gTsJSlNoJjuQPiOSf2OdnX1Hou+DTB/fvcsAI4BkxNILv0J0Qs+hzAAs2jc1Fxh5bC/D6JFqtW+jzRv8HkI1qn0WccFsUDqhNnufdG4QDShZpP2X3BuGAcIt+D/DEyCtl7CvuDgjmedaICbFXah+4G6zHbkTiYryoAqG21PyI/GwBNM85LQU7BCE8nPyG4ECylaZd/OGoRbhMIaz5qjkLPe++QKirTu6xKN2KEJ6iLanAs4FlX/E+HPAGR1g1GWsPmacAAAAASUVORK5CYII=" />

        <div class="user-pic">
          <img src="{{user.nurseryId.Image}}" class="img-fluid" alt="User Pic">
        </div>
        <h4>{{user.nurseryId.nurseryName | uppercase}}</h4>
        <p>(NurseryOwner)</p>
        <h6>+91 {{user.nurseryId.nurseryOwnerMobile}}</h6>
        <hr>
        <p>{{user.nurseryId.nurseryAddress}}</p>
        <hr>
        <button (click)="approveRequest(user)" class="btn btn-primary mr-3">Accept</button>
        <button (click)="cancelRequest(user,i)" class="btn btn-primary border-btn">Reject</button>
        <!-- <a (click)="approveRequest(user)" class="btn btn-primary "><span>Accept</span></a>
        <a (click)="cancelRequest(user,i)" class="btn btn-primary border-btn ml-5"><span>Reject</span></a> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="tempData.length==0" style="height: 500px;" class="col">
      <h1 class="text-danger text-center ">No Request Yet</h1>
    </div>
  </div>
</div>


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Query From User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{userQuery}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>

<!-- SPINNER -->
<ngx-spinner bdColor="white" template="<img style='height:300px;width:300px;' src='../../assets/images/spinner.gif' />">
</ngx-spinner>
